<div>
    <p style="text-align: center">
        <h1>Меню</h1>

        <ul>
          <li><a href="/scheduler/list"> Просмотр расписания </a></li>
          <li><a href="/scheduler/add"> Добавить лекцию </a></li>
          <li><a href="/scheduler/retake"> Поиск даты пересдачи </a></li>
        </ul>
    </p>
</div>