<div>
    <p style="text-align: center">
        <h2>Меню</h2>

        <ul>
          <li><a href="/scheduler/view_all"> Просмотр расписания </a></li>
          <li><a href="/scheduler/create"> Добавить лекцию </a></li>
          <li><a href="/lector/workload"> Узнать загрузку преподавателя </a></li>
          <li><a href="/retake"> Поиск даты пересдачи </a></li>
          <li><a href="/scheduler/save"> Сохранить изменения </a></li>
        </ul>
    </p>
</div>