<h2>Удаленная лекция</h2>

<b>Предмет: </b> <%= @deleted.subject %><br/>
<b>Преподаватель: </b> <%= @deleted.lector %><br/>
<b>Кабинет: </b> <%= @deleted.cabinet %><br/>
<b>Группы: </b> <%= @deleted.groups_as_str %><br/>
