<h1>Удаленная лекция</h1>

<b>Предмет: </b> <%= lecture.subject %><br/>
<b>Преподаватель: </b> <%= lecture.lector %><br/>
<b>Кабинет: </b> <%= lecture.cabinet %><br/>
<b>Группы: </b> <%= lecture.groups_as_str %><br/>
